/*Nav bar styles*/ 

.navbar-div{
    position:fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin-top: calc(-100vh + 56px);
    background: #000000;
    z-index: 100;
    transition-property: all;
    transition-duration: 0.3s;
}

.before-load.navbar-div{
    margin-top: calc(-100vh + 0px);
}


.navbav-all-visible{
    margin-top: 0px;
    background: #000000;
}

.visible-navbar{
    position: absolute;
    bottom: 0;
    height: 56px;
    width: 100vw;
    background: #ffffff;
    cursor:default;
}


.visible-navbar-content-div{
    display: flex;
    position: relative;
    align-items: center;
}

.menu-btn-div-white{
    border-left-color: #ffffff !important;
    transition-property: all;
    transition-duration: 0.3s;
}

.menu-btn-div{
    position: fixed;
    top: 0;
    left: 0;
    height: 56px;
    display: flex;
    align-items: center;
    border-left-width: 8px;
    border-left-style: solid;
    border-left-color: #191919;
    padding-left: 20px;
    z-index: 200;
    cursor:default;
    transform: translateY(0px);
    transition-property: all;
    transition-duration: 0.3s;
}

.before-load.menu-btn-div{
    transform: translateY(-100px);
}


.menu-btn-text{
    transition-property: all;
    transition-duration: 0.3s;
    transform: rotateZ(0deg);
    color: #191919;
    
}

.menu-btn-text-p{
    font-family: 'Lato', 'Roboto', sans-serif !important;
}

.menu-btn-text-tilt{
    transition-property: all;
    transition-duration: 0.3s;
    transform: rotateZ(90deg);
    color:#ffffff;
}

p.menu-btn-text-tilt{
    transition-property: all;
    transition-duration: 0.3s;
    transform: rotateZ(90deg);
    margin-left: 6px;
}

.menu-option-h3 a{
    color: #ffffff !important;
    font-weight: 300 !important;
    cursor: url(../assets/cursor.png), auto;
    font-family: 'Lato', 'Roboto', sans-serif !important;
}

.menu-option-h3{
    margin: 10px;
    opacity: 0;
    transform: translateY(10px);
    transition-property: all;
    transition-duration: 0.2s;
}

.menu-option-h3-show{
    opacity: 1;
    transform: translateY(0px);
}

.menu-content-container-div{
    padding-top: 160px
}

.menu-div-text-bar-span{
    height:2px;
    width:0px;
    background-color:white;
    display:block;
    border-radius:2px;
    transform-origin: left;
    transition-property: all;
    transition-duration: 0.2s;
}

.menu-div-text-p{
    opacity: 0;
    transition-property: all;
    transition-duration: 0.3s;
    font-family: 'Lato', 'Roboto', sans-serif !important;
}

.menu-div-text-p-show{
    opacity: 1;
}

.menu-div-text-bar-span-show{
    width: 50px;
}


span.menu-btn-bar-visible{
    transform: scaleX(1) !important;
}

span.menu-btn-bar{
    display: inline-block;
    height:1px;
    width: 50px;
    margin: 5px; 
    background: #e5e5e5;
    transform: scaleX(0);
    transform-origin: right;
    transition-property: all;
    transition-duration: 0.1s;
}



.logo-div{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    height: 56px;
}

.logo-p{
    cursor: url(../assets/cursor.png), auto;
    padding: 10px;
    
    
}

.logo-p-span{
    font-weight: 400;
    font-size: 20px;
    display: inline-block;
    background: #191919;
    color: #ffffff;
    font-weight: 300;
    height: 30px;
    width: 30px;
    text-align: center;
    margin: 0.05px;
    
}




/*Hero div styles*/


.hero-div{
    height: 80vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
    background: white;
    display: flex;
    align-items: center;
    z-index: 0;   
    position: relative;
}

.center-row-div{
    position: relative;
    z-index: 1;
    width: 100%
}

.hero-div-center-row-div-underlay{
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 3;
    width: inherit;
    transform: translateY(-90px);
}

.hero-div-center-row-div-overlay{
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 3;
    width: inherit;
    padding-right: 50px;
    transform: translateY(40px);
}

.hero-div-center-row-div-overlay-text{
    text-align: right;
    width: 100%;
    font-size: 54px;
    font-weight: 300;
    color : #191919;
    font-family: 'Lato', sans-serif !important;
    transition-property: all;
    transition-duration: 0.5s;
    transition-delay: 0.1s;
    transition-timing-function: ease-out;
    transform: translateY(0px);
    opacity: 1;
}

.before-load.hero-div-center-row-div-overlay-text{
    transform: translateY(100px);
    opacity: 0;
}


.hero-div-center-row-div-overlay-text .desktop-sol{
    background: rgba(25, 25, 25,1);
    color:white;
    padding-left: 16px;
    padding-right: 16px;
    font-weight: 200;
}


.hero-div-center-row-div-underlay-text{
    text-align: left;
    width: 100% !important;
    font-size: 180px;
    font-weight: 700;
    color: #f5f5f5;
    font-family: 'Merriweather', serif !important;
    transition-property: all;
    transition-duration: 0.5s;
    transition-delay: 0.1s;
    transition-timing-function: ease-out;
    transform: translateX(0px);
    opacity: 1;
        
}

.before-load.hero-div-center-row-div-underlay-text{
    transform: translateX(-100px);
    opacity: 0;
}

.hero-div-overlay-text-bar-span{
    margin:12px;
    margin-left:6px;
    height:2px;
    width:80px;
    background:black;
    border-radius: 100px;
    display:inline-block;
}

.start-a-project-div-btn{
    position: absolute;
    top : 140px;
    right: 0px;
    margin-right: 60px;
    transform-origin: right;
    transform: rotate(-90deg) translateY(0px);
    z-index: 4 !important;
    transition-property: all;
    transition-duration: 0.3s;
    transition-delay: 0.2s;
}

.before-load.start-a-project-div-btn{
    transform: rotate(-90deg) translateY(100px);
}

.start-a-project-div-btn-bar-span{
    height:1px;
    width:50px;
    background-color: #343434;
    display: inline-block;
    margin: 5px;
    margin-right: 10px;
    transition-property: all;
    transition-duration: 0.3s;
    transform-origin: right;
    z-index: 4 !important;
}

.start-a-project-div-btn-p{
    font-family: 'Lato', 'Roboto', sans-serif !important;
    z-index: 4 !important;
    
}

.start-a-project-div-btn-p:hover .start-a-project-div-btn-bar-span{
    transform: scaleX(1.5);
}

.take-a-tour-div-button{
    height: 56px;
    width: 56px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #191919;
    margin: 10.5px;
    display: flex;
    align-content: center;
    transition-property: all;
    transition-duration: 0.4s;
    transition-delay: 0s;
    transition-timing-function: ease-out;
    transform: translateX(0px);
    opacity: 1;
}

.before-load.take-a-tour-div-button{
    transform: translateX(-100px);
    opacity: 0;
}


.take-a-tour-div-button{
transform: scale(0.8);
}
    

.take-a-tour-div-button span{
    transform: scale(1);
}

    
.about-us-div .row .col{
    margin: 0px;
    padding : 0px;
}

/*About us Div style*/

.about-us-div-imag-div-container{
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
    height: 480px;
    z-index: 4;   
    transition-property: all;
    transition-duration: 0.4s;
    transition-delay: 0.3s;
    transition-timing-function: ease-out;
    transform: scaleX(1);
    transform-origin: left;
    transition-timing-function: ease-out;
}

.before-load.about-us-div-imag-div-container{
    transform: scaleX(0);
}


.about-us-div-imag-div{
    height: 480px;
    width: 100%;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    background:  no-repeat center;
    background-size: cover;
    transform: scale(1.4);
    transition-property: all;
    transition-duration: 0.4s;
    transition-delay: 0s;
    transition-timing-function: ease-out;
}


.about-us-div-imag-curtain{
    height: 100%;
    width: 100%;
    background: #191919;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease-out;
    transform: translateY(-100%);
}

.about-us-div-imag-div-container-show .about-us-div-imag-curtain{
    transform: translateX(-100%) translateY(-100%);
    
}

.about-us-div-imag-div-container-show .about-us-div-imag-div{
    transform: scale(1);
}

.div-for-about-us-text-div-animation{
    height:inherit;
    background:#f8f8f8;
    opacity: 0;
    transform-origin: bottom;
    transform: scaleY(0.6);
    transition-property: all;
    transition-duration: 0.3s;
}

.about-us-div-text-div{
    padding-top:120px;
    background:#f8f8f8;
    opacity: 0;
    transition-property: all;
    transition-duration: 0.3s;
}

.show.div-for-about-us-text-div-animation {
    opacity: 1;
}

.show.about-us-div-text-div{
    opacity: 1;
}

.about-us-div-heading{
    font-family: 'Merriweather', serif !important;
    transform-origin: top left;
    letter-spacing: 1.75px;
    font-weight: 700 !important;
    transform: rotateZ(-90deg) translateX(-80%);
    width: 260px;
    padding: 10px;
    color: #575757;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease-out;
}

.show.about-us-div-heading{
    transform: rotateZ(-90deg) translateX(-40%);
}


.about-us-div-heading-bar-span{
    width: 40px;
    height: 1.5px;
    background: #606060;
    margin: 5px;
    margin-right: 12px;
    font-size: 20px;
    display: inline-block;
}

.about-us-div-text-content{
    font-family: 'Lato', sans-serif!important;
    font-weight: 200;
    color: #191919;
    padding-top: 60px;
    padding-bottom: 120px;
    transform: translateY(50px);
    opacity: 0;
    transition-property: all;
    transition-duration: 0.4s;
    transition-delay: 0.3s;
    transition-timing-function: ease-out;
}

.show.about-us-div-text-content{
    opacity: 1;
    transform: translateY(0px);
}

.about-us-complay-name-div{
    background: #191919;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 12px;
    padding-right: 12px;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    transform: scaleX(0);
    transform-origin: right;
}

.show.about-us-complay-name-div{
    transform: scaleX(1);
}

.about-us-complay-name-div h5 span{
    font-size: 12px;
    font-family: 'Lato','Roboto' ,sans-serif !important;
}

.about-us-complay-name-div h5{
    margin: auto;
    color: white;
    font-family: 'Merriweather', serif !important;
    font-weight: 200;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    transform: translateY(50px);
    opacity: 0;
}

.show.about-us-complay-name-div-heading{
    transform: translateY(0px);
    opacity: 1;
}




/*Our work div*/

.our-work-div{
    padding-top: 100px;
}

.our-word-div-heading-div{
    transform: translateY(100px);
    opacity: 0;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease-out;
}

.show.our-word-div-heading-div{
    transform: translateY(0px);
    opacity: 1;
}


.our-word-div-heading-div p{
    margin-bottom: 0px;
}

.our-word-div-heading-div p span{
    font-family: 'Lato', 'Roboto', sans-serif !important;
}

.our-word-div-heading-div h1{
    margin-top: 0px;
    font-family: 'Merriweather', serif !important;
    margin-bottom: 100px;
}

.our-word-div-heading-div h3{
    margin-top: 0px;
    font-family: 'Merriweather', serif !important;
    margin-bottom: 60px;
}

@media screen and (max-width:993px){
    .about-us-div-text-content{
        padding-top: 20px;
    }
}

@media screen and (max-width:880px){
    
    .hero-div-center-row-div-overlay-text{
        font-size: 40px;
        font-weight: 400px;
    }

    .hero-div-center-row-div-underlay-text{
        font-size: 140px;
    }
    
    .hero-div-overlay-text-bar-span{
        margin: 10px;
    }
    
    .about-us-div-imag-div{
        height: 400px;
    }
    
    .about-us-div-imag-div-container{
        height: 400px;
    }

}

@media screen and (max-width:780px){

    .hero-div-center-row-div-underlay{
    }

    .hero-div-center-row-div-overlay{
        padding-right: 4px;
    }
    
    .start-a-project-div-btn{
        margin-right: 40px;
    }

}

@media screen and (max-width:600px){

    
    .menu-option-h3 a{
        color: white !important;
        font-weight: 400;
        font-size: 28px;
        margin: 0px;
    }
    .menu-option-h3{
        color: white !important;
        font-weight: 400;
        font-size: 28px;
        margin: 8px;
    }
    .menu-btn-div{
        border-left-width: 0px;
    }
    
    .menu-content-container-div{
        padding-top: 120px
    }
    
        
    .hero-div-center-row-div-overlay-text{
        font-size: 36px;
    }

    .hero-div-center-row-div-underlay-text{
        font-size: 130px;
    }
    
    
    .hero-div-overlay-text-bar-span{
        margin: 10px;
        width: 60px;
        height: 2px;
    }
    
 
    .about-us-div-imag-div{
        height: 300px;
    }
    
    
    .about-us-div-imag-div-container{
        height: 300px;
    }
    
    
    .about-us-div-heading-div{
        margin: 30px;
        margin-top:  100px;
    }
   
    .about-us-div-text-content{
        padding-bottom: 120px;
        padding-top: 20px;
    }

    
}

@media screen and (max-width:470px){
       
    .hero-div-center-row-div-overlay-text{
        font-size: 32px;
    }

    .hero-div-center-row-div-underlay-text{
        font-size: 120px;
    }
    
    
    .hero-div-overlay-text-bar-span{
        margin: 8px;
        width: 40px;
        height: 2px
    }

    
    .our-work-div{
        padding-top: 60px;
    }

}
@media screen and (max-width:370px){
       
    .hero-div-center-row-div-overlay-text{
        font-size: 26px;
    }

    .hero-div-center-row-div-underlay-text{
        font-size: 110px;
    }
    
    .hero-div-overlay-text-bar-span{
        margin: 7px;
        width: 40px;
        height: 2px;
    }

     .about-us-div-imag-div{
        height: 240px;
    }
   
    
    .about-us-div-imag-div-container{
        height: 240px;
    }

}



/* Underline From Right */
.hvr-underline-from-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 100%;
  right: 0;
  bottom: 0;
  background: white;
  height: 1.5px;
  -webkit-transition-property: left;
  transition-property: left;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-right:hover:before, .hvr-underline-from-right:focus:before, .hvr-underline-from-right:active:before {
  left: 0;
}
